* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: #e9e7e7;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: left;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(24, 32, 32);
    letter-spacing: 3px;
}

.heading p {
    font-size: 22px;
    margin-left: 10px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.center {
    display: block;
    margin-left: 0;
    width: 500px;
    height: 500px;
    padding: 15px;
    /* border: 2px solid gray; */
}

img {
    border: 2px solid #e9e7e7;
    border-radius: 50%;
}

#content p {
    text-align: justify;
    margin: 30px;
    padding: 25px;
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #000000;
    text-shadow: 0 20px 25px rgba(234, 224, 224, 0.5);

}

#main p {
    text-align: justify;
    margin: 30px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #000000;
    text-shadow: 0 20px 25px rgba(234, 224, 224, 0.5);
}

footer {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}